@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

html {
  font-family: 'Nunito', sans-serif;
}

main {
  padding: 1rem;
  min-height: 100vh;
}

article {
  font-size: 1.2rem;
  width: 90%;
  margin: 1rem;
}

.app{
  width: 80%;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}